/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [MISC_60SECS_ID]
      ,[MISC_60SECS_DateTime]
      ,[MISC_60SECS_OB_Name]
      ,[MISC_60SECS_CT1_1_GALS]
      ,[MISC_60SECS_CT1_2_GALS]
      ,[MISC_60SECS_CT2_GALS]
      ,[MISC_60SECS_CD5_1_GALS]
      ,[MISC_60SECS_CD5_2_GALS]
  FROM [Sara_Lee_TimeLog].[dbo].[slMISC_60SECS]