/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [PS_ID]
      ,[PS_SuperSackFillDate]
      ,[SSS_ID]
      ,[PS_InitialWeight]
      ,[PS_ActualWeight]
      ,[PS_PrevActualWeight]
      ,[PS_Moisture]
      ,[PS_Moisture_HB43]
      ,[PS_Density]
      ,[PS_Caffeine]
      ,[PS_Taste]
      ,[PS_Remark]
      ,[PBC_BlndCode]
      ,[PS_WeightToExtraction]
      ,[PS_WeightToExternal]
      ,[PS_WeightToDestruction]
      ,[EC_ID]
      ,[RE_ID]
      ,[PS_MeasureCompleted]
      ,[PS_MeasureInTolerance]
      ,[PS_WetWeight]
      ,[PS_DryWeight]
      ,[PS_DryingTime]
      ,[PS_CalibrationVol]
      ,[PS_MeasurementWeight]
      ,[PBC_MaxMoisture]
      ,[PBC_MinDensity]
      ,[PBC_MaxDensity]
      ,[PBC_IsDecaf]
      ,[PBC_MaxCaffeine]
      ,[PS_SuperSackEmptiedDate]
      ,[EX_ID]
      ,[EO_EBC_BlndCode]
      ,[RO_PBC_BlndCode]
      ,[RO_EC_ID]
      ,[PS_WeightToSieving]
  FROM [Sara_Lee_MES].[dbo].[slPowderStock]
  WHERE [PS_ID] = '5220'
--ORDER BY [PS_SuperSackFillDate] ASC