SELECT [PS_ID]
      ,[PS_SuperSackFillDate]
	  ,[EX_ID]
	  ,[RO_EC_ID]
      ,[SSS_ID]
      ,[PS_InitialWeight]
      ,[PS_ActualWeight]
      ,[PS_Moisture]
      ,[PS_Moisture_HB43]
      ,[PS_Density]
      ,[PS_Taste]
      ,[PS_Remark]
      ,[PBC_BlndCode]
      ,[PS_WeightToExtraction]
      ,[PS_WeightToExternal]
      ,[PS_WeightToDestruction]
      ,[EC_ID]
      ,[RE_ID]
      ,[PS_MeasureCompleted]
      ,[PS_MeasureInTolerance]
      ,[PS_WetWeight]
      ,[PS_DryWeight]
      ,[PS_DryingTime]
      ,[PS_CalibrationVol]
      ,[PS_MeasurementWeight]
      ,[PBC_MaxMoisture]
      ,[PBC_MinDensity]
      ,[PBC_MaxDensity]
      ,[PBC_IsDecaf]
      ,[PS_SuperSackEmptiedDate]
      ,[EO_EBC_BlndCode]
      ,[RO_PBC_BlndCode]
  FROM [Sara_Lee_MES].[dbo].[slPowderStock]
  WHERE [PS_SuperSackFillDate] >= '2017-01-01' AND [PS_SuperSackEmptiedDate] <= '2017-05-31' AND [RO_EC_ID] = '632'
  ORDER BY [PS_SuperSackFillDate] ASC