SELECT [TSC_DateTime]
      ,[TSC_ProdOrder]
      ,[TSC_BlendCode]
      ,[TSC_SeriesCode_id]
      ,[TSC_SeriesCode]
      ,[TSC_PhaseCode_id]
      ,[TSC_PhaseCode]
      ,[TSC_OB_Name]
      ,[TSC_FIT_SCS]
      ,[TSC_FIT_SI]
      ,[TSC_FPV_SI]
      ,[TSC_PIT_1_SIF]
      ,[TSC_PIT_2_SIF]
      ,[TSC_QPV_SCS]
      ,[TSC_LT_SOP]
      ,[TSC_LT_SDT]
      ,[TSC_FIT_SD]
      ,[TSC_TT_SD]
      ,[TSC_TT_SHH]
      ,[TSC_TPV_SHH]
      ,[TSC_TT_SDC]
  FROM [Sara_Lee_TimeLog].[dbo].[slTS_SC]
  WHERE [TSC_ProdOrder] = '8003'