SELECT [TTL_ID]
      ,[TTL_DateTime]
      ,[TTL_ProdOrder]
      ,[TTL_BlendCode]
      ,[TTL_SeriesCode_ID]
      ,[TTL_SeriesCode]
      ,[TTL_PhaseCode_ID]
      ,[TTL_PhaseCode]
      ,[TTL_BatchCode]
      ,[TTL_ExceptionCode]
      ,[TTL_Status]
      ,[TTL_OB_Name]
      ,[TTL_LT]
      ,[TTL_TT]
      ,[TTL_DS]
      ,[TTL_SettlTime]
      ,[TTL_AgitatingOn]
      ,[TTL_AgitatingOnTime]
      ,[TTL_AgitatingOnCount]
  FROM dbo.slTS_Tanklog
--WHERE [TTL_OB_Name] = 'MT1_3' AND [TTL_ProdOrder] > '7538' AND [TTL_ProdOrder] < '7542' --AND [TTL_DateTime] >= '2016-12-10'
ORDER BY [TTL_ProdOrder] ASC